[credential]
	helper = cache --timeout=3600
[user]
	name = Michal Grabarczyk
	email = michalgrabarczyk@hotmail.com
[core]
	excludesfile = ~/.gitignore
	editor = emacs -nw -q

[credential "https://github.com"]
	username = michalgrabarczyk
[color]
	ui = true
